@{
    ViewBag.Title = "Lunch App - by Kate";
}



<div class="btn btn-lg btn-success">
    @Html.ActionLink("Create New Lunch", "CreateLunch")
</div>

<div style="color: blue; font-weight: bold">Totally temp content here to test view. Blue text will go away soon!</div>


